@import "null.css";

h2 {
  color: rgb(18, 0, 83);
}

.header {
  text-transform: uppercase;
}

.cat-kiskis {
  color: rgb(255, 0, 0);
}

h1 span {
  color: rgb(43, 226, 58);
}

[class*="-kiskis"] {
  color: rgb(75, 71, 9);
}

#one_story {
  color: blueviolet;
}

.one_story {
  color: brown;
}

p.one_story {
  color: black;
}

.two_story {
  color: rgb(119, 0, 255);
}
.text.two_story {
  color: rgb(100, 61, 3);
}

.four_story {
  color: rgb(9, 155, 106);
}

.text,
.four_story {
  color: blue;
}

.footer h4 {
  color: brown;
}

.footer > span {
  color: aqua;
}
